{{!--It was possible to add extra icons using this reference--}}
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

{{!--This page will load in each page as a head of each honr--}}
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <div class="navbar-header">
            <i class="iconify" data-icon="noto-v1:avocado" data-inline="false" style="font-size: xx-large;"></i><strong style="font-size: xx-large; color: teal;"> avocAPP</strong>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/">
                        <i class="fa fa-book" aria-hidden="true"></i> Catalogue
                    </a>
                </li>
                <li>
                    <a href="/cart/">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart
                    <span class="badge">{{session.cart.totalQty}}</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> User <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {{# if login }}
                            <li><a href="/user/profile">User Account</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/user/logout">Logout</a></li>
                        {{ else }}
                            <li><a href="/user/signup">Sign Up</a></li>
                            <li><a href="/user/login">Log In</a></li>
                        {{/if}}
                    </ul>
                </li>
                <li>
                    <a href="/user/contactUs">
                        <i class="fa fa-phone" aria-hidden="true"></i> Contact Us
                    </a>
                </li>
                <li>
                    <a href="/user/aboutUs">
                        <i class="fa fa-users" aria-hidden="true"></i> About Us
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>