{{!--References for this page:
//https://www.w3schools.com/bootstrap/
//https://getbootstrap.com/docs/5.0/getting-started/introduction/
--}}
{{!--The "About Us" page is a simple hbs plain file, describing the mission of the shop--}}
<div class="aboutus-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus">
                    <h2 class="aboutus-title">About Us</h2>
                    <p class="aboutus-text">avocAPP is a vegan shop, where it is possible to find any free-cruelty item.
                        The shop is distinguished for its wide variety of healthy products.</p>
                    <p class="aboutus-text">We have everything you need to cook and prepare authentic vegan meals. Give
                        it a go and order online!</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus-banner">
                    <img src="/images/logo.gif" width="300" height="500" alt="">
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="feature">
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="feature-content">
                                <span style="font-size: 48px; color: rgb(221, 255, 30);">
                                    <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                                </span>
                                <h4>Friendly staff</h4>
                                <p>You could ask anythig, our proffesional staff would be more than happy to help you!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="feature-content">
                                <span style="font-size: 48px; color: rgb(221, 255, 30);">
                                    <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                                </span>
                                <h4>Reliable services</h4>
                                <p>Any problem with the items, or the ingredients, don't hesitate to ask us, we work
                                    with
                                    the quality on our products.</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="feature-content">
                                <span style="font-size: 48px; color: rgb(221, 255, 30);">
                                    <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                                </span>
                                <h4>Great support</h4>
                                <p>Our online service is operating all the week, any doubt just drop an email or give us
                                    a call.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>