{{!--The "Contact Us" page is a simple hbs plain file, that side by side with the nodemailer will send the message to the admin--}}
<div class="login-box">
  <h2>Message</h2>
  <form method="POST" action="/">
    <div class="user-box">
      <input type="text" name="name" required="name">
      <label>Name</label>
    </div>
    <div class="user-box">
      <input type="text" name="email" required="email">
      <label>Email</label>
    </div>
    <div class="user-box">
      <input type="text" name="phone" required="phone">
      <label>Phone</label>
    </div>
    <div class="user-box">
      <textarea name="message" rows="5" cols="43" placeholder="Message"></textarea>
    </div>
    <p class="full">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <button type="submit">Submit</button>
    </p>
  </form>
</div>