{{!--References for this page:
//https://www.w3schools.com/bootstrap/
//https://getbootstrap.com/docs/5.0/getting-started/introduction/
--}}
{{!--The "Contact Us" page is a simple hbs plain file, that side by side with the nodemailer will send the message to
the admin--}}
<div class="login-box">
  <h2>Message</h2>
  <form id="form" method="POST" action="/">
    <div class="user-box">
      <input type="text" name="name" required="name">
      <label>Name</label>
    </div>
    <div class="user-box">
      <input type="text" id="email" name="email" required="email" onkeydown="validation()">
      <label>Email</label>
      <span id="text"></span>
    </div>
    <br>
    <div class="user-box">
      <input type="text" name="phone" required="phone">
      <label>Phone</label>
    </div>
    <div class="user-box">
      <textarea name="message" rows="5" cols="43" placeholder="Message"></textarea>
    </div>
    <p class="full">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <button type="submit">Submit</button>
    </p>
  </form>
</div>
{{!--The email validation will be checked using the following code--}}
<script type="text/javascript">
    function validation() {
      var form = document.getElementById("form");
      var email = document.getElementById("email").value;
      var text = document.getElementById("text");
      var pattern = /^[^ ]+@[^ ]+\.[a-z]{2,3}$/;
  
      if (email.match(pattern)) 
      {
        form.classList.add("valid");
        form.classList.remove("invalid");
        text.innerHTML = "Email address valid";
        text.style.color = "#00ff00";
      }
      else {
        form.classList.remove("valid");
        form.classList.add("invalid");
        text.innerHTML = "Please enter a valid email address";
        text.style.color = "#ff0000";
      }
  
      if (email == "") 
      {
        form.classList.remove("valid");
        form.classList.remove("invalid");
        text.innerHTML = "";
        text.style.color = "#00ff00";
      }
    }
</script>