{{!--References for this page:
//https://www.w3schools.com/bootstrap/
//https://getbootstrap.com/docs/5.0/getting-started/introduction/
--}}
{{!--This page will interact as message to let the user know about the email sent--}}
<form action="/user/email_sent_notification">
    <div class="login-box">
        <h2 class="sent_pageBox_title">An email notification was sent to your inbox. Thank you!</h2>
        <div style="text-align:center; font-size: x-large;">
            <a href="/">Back</a>
        </div>
    </div>
</form>