<form action="/user/email_sent">
    <div class="sent_pageBox">
        <h2 class="sent_pageBox_title">Your email was sent</h2>
        <a class="sent_pagBox_Link" href="/user/email_sent">Back</a>
    </div>
</form>